</div>
</main>
<!-- End of Side Bar -->
<!-- Start of Footer -->
<footer class="footer mt-auto py-3">
    <div>
        <span class="text-muted text-center">&copy; All rights reserved 2019</span>
    </div>
</footer>
<!-- End of Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
<script src="/dist/js/bootstrap-datepicker.js"></script>
<script src="/js/main.js"></script>
</body>

</html>