<% include ../partials/headerNavApplicant %>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <div class="row">
  <div class="card" style="width: 18rem; margin-top: 100px; margin-right: 50px;">
    <img src="/picture/book.png" class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class="card-title">Programme ID</h5>
      <p class="card-text"></p>
      <a href="/applicant/select" class="btn btn-primary">Select</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 100px; margin-right: 50px;">
    <img src="/picture/book.png" class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class="card-title">Programme ID</h5>
      <p class="card-text"></p>
      <a href="/applicant/select" class="btn btn-primary">Select</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 100px; margin-right: 50px;">
    <img src="/picture/book.png" class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class="card-title">Programme ID</h5>
      <p class="card-text"></p>
      <a href="/applicant/select" class="btn btn-primary">Select</a>
    </div>
  </div>
</div>

  <% include ../partials/footer %>