<% include ../partials/headerNavUniv %>

<div class="card">
    <div class="card-body bg-body shadow">
        <h4>University Admin</h4>
        <img class="picture" src="/picture/admin2.png" />
    </div>
</div>

<% include ../partials/footer %>