<% include ../partials/header %>

<div class="card p-4 shadow bg-body">
  <div class="card-body text-center">
    <h2>Student Application System</h2>
  </div>

</div>

<% include ../partials/footer %>
